*
{
padding: 0px;

  margin: 0px;

  }

body{

    padding: 30px;

}

#dp{
    border: 3px solid black;
    width: 20%;
    height: 30%;
    margin-top: 60px;
}







































































